section.user
  .user__wrapper
    .user__avatar
      img(src="./assets/img/user-avatar.png" alt="Аватар" width="80" height="80")
      input(type="file" id="user_avatar")
      label(for="user_avatar") Изменить
    
    .user__data
      form(action="#")
        fieldset
          label(for="user_name") Имя
          input(type="text" placeholder="Константин" id="user_name")
        fieldset
          label(for="user_surname") Фамилия
          input(type="text" placeholder="Константинов" id="user_surname")
        fieldset
          label(for="user_mail") Email
          input(type="text" placeholder="test@yandex.ru" id="user_mail")
        fieldset
          label(for="user_phone") Телефон
          input(type="tel" placeholder="+7(921)123-45-67" id="user_phone")

        fieldset.user__birth-field
          label(for="user_bday") Дата рождения
          .user__birth-controls.custom-select-birth-controls
            select(id="user_bday").custom-select-birth.custom-select-bday

            select(id="user_bmonth").custom-select-birth.custom-select-bmonth
                option(value="Январь" selected) Январь
                option(value="Февраль") Февраль
                option(value="Март") Март
                option(value="Апрель") Апрель
                option(value="Май") Май
                option(value="Июнь") Июнь
                option(value="Июль") Июль
                option(value="Август") Август
                option(value="Сентябрь") Сентябрь
                option(value="Октябрь") Октябрь
                option(value="Ноябрь") Ноябрь
                option(value="Декабрь") Декабрь
        
            select(id="user_byear").custom-select-birth.custom-select-byear
        
        fieldset.city
          label(for="user_city") Город
          input(type="text" placeholder="Санкт-Петербург" id="user_city")

        .user__psw
          fieldset.hidden-field.prev-pswd-field
            label(for="user_current-psw") Текущий пароль
            input(type="password" id="user_current-psw" placeholder="Текущий пароль")
          fieldset.hidden-field.change-pswd-field
            label(for="user_new-psw") Новый пароль
            input(type="password" id="user_new-psw" placeholder="Новый пароль")
          fieldset.hidden-field.change-pswd-field
            label(for="user_confirm-psw") Повторите введенный пароль
            input(type="password" id="user_confirm-psw" placeholder="Повторите введенный пароль")

          .error-field
            span.wrong-psw * Неверный пароль
            span.wrong-confirm * Введенные пароли не совпадают

        .user__form-action
          button(type="button").js-change-pswd Изменить пароль
          button(type="submit") Сохранить изменения