section.favourite
  .favourite__wrapper
    ul.favourite__list
      li.favourite__item
        include ../../components/favourite-card
      
      li.favourite__item
        include ../../components/favourite-card
      
      li.favourite__item
        include ../../components/favourite-card
      
      li.favourite__item
        include ../../components/favourite-card