include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

html(lang="ru")
  +head(title, desc, keywords)

  body

    div(style="display:none")
      include ../../assets/img/svg-sprite.svg 

    include ../common/header

    main
      block content

    include ../common/footer
    include ../components/mobile-menu
    block modals

    include ../modals/auth-modal
    include ../components/loader
    block scripts
      script(src="./js/bundle.js")
