extends layouts/main-layout.pug
include ./mixins/breadcrumbs

block variables
  -
    const title = "интернет магазин"
    const desc = ""
    const keywords = ""

block content
  .contacts-page
    +breadcrumbs([
        { title: 'Главная', link: 'index.html' },
        { title: 'Контакты'}
    ])

    include ./sections/contacts-page/contacts