extends layouts/main-layout.pug

block variables
  -
    const title = "интернет магазин"
    const desc = ""
    const keywords = ""

block content
  .index
    include ./sections/index-page/intro
    include ./sections/index-page/cats
    include ./sections/index-page/register
    include ./sections/index-page/reviews
    
block modals
    // include ./modals/info-modal