extends layouts/main-layout.pug

block variables
  -
    const title = "интернет магазин"
    const desc = ""
    const keywords = ""

block content
  .index.overflow-hidden
    include ./sections/index-page/intro
    include ./sections/index-page/cats
    include ./sections/index-page/popular
    include ./sections/index-page/about
    include ./sections/index-page/history
    include ./sections/index-page/register
    include ./sections/index-page/reviews
    
block modals
    // include ./modals/info-modal