extends layouts/main-layout.pug
include ./mixins/breadcrumbs

block variables
  -
    const title = "интернет магазин"
    const desc = ""
    const keywords = ""

block content
  .profile
    +breadcrumbs([
        { title: 'Главная', link: 'index.html' },
        { title: 'Личный кабинет' }
    ])

    include ./sections/profile-page/user-profile
    include ./sections/profile-page/offer-history
    include ./sections/common/history
    
block modals
    // include ./modals/info-modal