extends layouts/main-layout.pug
include ./mixins/breadcrumbs

block variables
  -
    const title = "интернет магазин"
    const desc = ""
    const keywords = ""

block content
  .registration-page
    +breadcrumbs([
        { title: 'Главная', link: 'index.html' },
        { title: 'Регистрация' }
    ])

    include ./sections/registration-page/registration
    
block modals
    // include ./modals/info-modal