.cats {
    @include block_mb();
    &__container {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 35rem;
        grid-gap: 2rem;

        li {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: 10px 10px 10px 5px rgba(143, 31, 232, 0.15);

            a {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 2rem;
            }
        }

        li:not(:first-child) {
            a span {
                font-size: 2.6rem;
                line-height: 2.8rem;
                padding: 0.5rem 1rem;
            }
        }

        li:first-of-type {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;

            a {
                position: relative;
                span {
                    position: absolute;
                    top: 15rem;
                    left: -5rem;
                    transform: rotate(-90deg);
                }
            }
        }

        //девочки
        li:nth-of-type(2) {
            grid-column-start: 3;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 2;

            a {
                justify-content: flex-end;
            }
        }

        //мальчики
        li:nth-of-type(3) {
            grid-column-start: 5;
            grid-column-end: 8;
            grid-row-start: 2;
            grid-row-end: 3;

            a {
                align-items: flex-start;
                justify-content: flex-start;
            }
        }

        //игрушки
        li:nth-of-type(4) {
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 2;

            a {
                justify-content: flex-start;
            }
        }

        //малыши
        li:nth-of-type(5) {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;

            
            a {
                align-items: flex-start;
                justify-content: flex-end;
            }
        }
    }
}