.history {
    @extend .section-margin-bottom;
    overflow: hidden;

    &__wrapper {
        @extend .wrapper;
        
        position: relative;
        padding-bottom: 40px;
    }

    &-swiper {
        padding-bottom: 30px;
    }
}