.intro-width {
    height: 75vh;
    max-height: 750px;

    @media(max-width: $md_w) {
        height: 65vh;
        max-height: 400px;
    }

    @media(max-width: $sm_w) {
        max-height: 300px;
    }
}

.intro {
    @extend .section-margin-bottom;
    @extend .intro-width;

    position: relative;

    &::before,
    &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 80px;
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 9;
    }
    
    &::before {
        bottom: -6px;
        background-image: url('../assets/img/catalog-section-line1.svg');
    }

    &::after {
        bottom: 8px;
        background-image: url('../assets/img/catalog-section-line2.svg');
    }


    &-swiper {
        position: relative;
        overflow: hidden;
        height: inherit;
        max-height: inherit;

        .swiper-slide {
            position: relative;
            &-container {
                display: flex;
                width: 100%;
                height: inherit;
                max-height: inherit;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top center;
            }
        }

        .swiper-pagination {
            &-bullets {
                position: absolute;
                top: 0;
                left: calc(100% - 50px);

                display: flex;
                flex-direction: column;
                justify-content: center;

                z-index: 1;
            }

            &-bullet {
                width: 15px;
                height: 15px;
                margin: 2px 0 !important;
                background-color: transparent;
                border: 2px solid $purple;

                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                transition: opacity $main-transition;
                &-active {
                    background-color: $purple;
                }
            }
        }

        &__wrapper {
            width: 100%;
            margin: 0 auto;
        }

        &__container {
            padding-top: 150px;
            @extend .wrapper;

            @media(max-width: $md_w) {
                padding-top: 80px;
            }
        
            @media(max-width: $sm_w) {
                padding-top: 50px;
            }

            h2 {
                font-size: 54px;
                line-height: 1.2;
                margin-bottom: 2.8rem;
                text-transform: uppercase;
                max-width: 80%;

                color: $main-black;
                text-shadow: 2px 2px 3px $white;

                span {
                    color: $red;
                }

                @media(max-width: $md_w) {
                    font-size: 44px;
                }

                @media(max-width: $sm_w) {
                    font-size: 28px;
                }
            }

            a {
                @include main_btn($purple, $yellow);
            }
        }
    }
}

