.register {
    @extend .section-margin-bottom;

    min-height: 750px;
    position: relative;

    @media(max-width: $lg_w) {
        min-height: 500px;
    }

    @media(max-width: $md_w) {
        min-height: 400px;
    }
    
    img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        height: 100%;
        object-fit: cover;
        
        z-index: 0;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        z-index: 1;

        a {
            @include main_btn($purple, $yellow);
        }
    }
}