/* общие классы для сайта */

.wrapper {
    max-width: 1440px;
    min-width: $xs_w;
    padding: 0 30px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @media(max-width: $lg_w) {
        padding: 0 15px;
    }

    @media(max-width: $sm_w) {
        padding: 0 10px;
    }
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-default {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.flex-item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-scroll {
    &::-webkit-scrollbar {
        background-color: $gold;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $purple;
    }
}

.scroll-sm {
    &::-webkit-scrollbar {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gold;
    }
}