$font_main: 'Montserrat';
$font_alt: 'MontserratAlternates';
$font_roboto: 'Roboto';
$font_heinrich: 'MontserratAlternates';
$font_lobster: 'Lobster';

// animation

// widths
$xxl_w: 1920px;
$xl_w: 1440px;
$lg_w: 1140px;
$md_w: 768px;
$sm_w: 480px;
$xs_w: 320px;

// colors

$main-bg: #f1e7b2;

$beige: #f5f5dc;
$white: #ffffff;
$black: #000000;
$main-black: #2C2B3C;

$purple: rgba(143, 31, 232, 0.86);
$purple-700: #6c2f9b;
$blue: rgba(23, 123, 239, 0.86);
$red: rgba(232, 31, 67, 0.72);
$green: #2cd93d;
$green-600: #34A853;
$gray: #666666;
$gold: #a58e18;
$yellow: rgba(255, 225, 79, 0.84);

// transitions

$main-transition: 0.3s ease-out;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
