include ../mixins/svg-icon

-
  const nav_list = [
      {
          title: 'О нас',
          url:  'about.html'
      },

      {
          title: 'Контакты',
          url:  'contacts.html'
      },

      {
          title: 'Доставка',
          url:  'delivery.html'
      },

      {
          title: 'Условия оплаты и возврата',
          url: 'conditions.html'
      },

      {
          title: 'Политика конфиденциальности',
          url: 'confidential.html'
      }
  ]
  

header.header
  include ../components/crawl-line
  .header__content
    .header__wrapper
      .header__logo
        a(href="index.html" aria-label="Обновить") 
          img(src="./assets/img/main-logo.png" alt="Лого" width="150" height="80")
      
      //.header__contacts
        a(href="mailto:testtest@yandex.ru").header__link
          +svg-icon(24,24,'icon-mail')
          span testtest@yandex.ru

      
        a(href="tel:+79062723744").header__link
          +svg-icon(24,24,'icon-phone')
          span +7(906)272-37-44
      
      .header__menu
        nav.header__nav
          ul.header__nav-list
            each item in nav_list
              li.header__nav-item
                a(href= item.url)= item.title

        .header__user
          form(action="#")
            include ../components/search-field
          
          a(href="profile.html").header__user-login
            +svg-icon(24,24,'icon-user')
            span Личный кабинет
          
          a(href="favourite.html").header__user-favourite
            +svg-icon(24,24,'icon-heart')
            span Избранное
          
          a(href="cart.html").header__user-cart
            +svg-icon(24,24,'icon-cart')
            span Корзина
          
        include ../components/burger

  .header__catalog
    include ../components/catalog-nav    
