.catalog-nav {
    position: relative; // для catalog-section
    &__wrapper {
        @extend .wrapper;
        display: flex;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    &__link {
        font-family: $font_heinrich;
        font-size: 20px;
        line-height: 1;
        color: $main-black;

        @extend .flex-item-center;
        padding: 0 20px;

        span {
            padding: 10px 0;
            border-bottom: 2px solid transparent;
            transition: border $main-transition;
        }

        &:hover{
            span {
                border-color: $purple;
            }
        }

        &.js-active {
            span {
                border-color: $gold;
            }
        }
        
        @media(max-width: $lg_w) {
            font-size: 22px;
            padding: 0 10px;
        }
    }
}