.main-swiper {
    overflow: hidden;
    padding: 19px;
    padding-bottom: 30px;
    
    .swiper-slide {
        width: auto;
    }

    &-pagination {
        @extend .main-swiper-pagination;
    }
}