.mobile-menu {
    display: none;
    padding: 20px 0;

    height: 100vh;
    max-height: calc(100vh - 119px);
    position: absolute;
    top: 119px;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg,rgba(165, 142, 24, 0.36) 0, rgba(214, 193, 85, 0.09) 100% );
    background-color: $beige;
    background-blend-mode: darken;
    overflow: hidden;
    overflow-y: auto;
    z-index: 100;

    transform: translateY(-110%);
        
    @media(max-width: $md_w) {
        &.is-opened {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            animation: transform .4s 0.1s linear forwards;
        }
    }

    @keyframes transform {
        0% {
            transform: translateY(-110%);
        }

        100% {
            transform: translateY(0);
        }
    }

    &__wrapper {
        @extend .wrapper;
    }

    &__search {
        margin-bottom: 20px;
        display: none;

        @media(max-width: 660px) {
            display: block;
        }
    }

    &__user {
        display: none;

        @media(max-width: $sm_w) {
            display: block;
        }
        margin-bottom: 20px;

        &-item {
            margin-bottom: 10px;
        }

        &-link {
            display: flex;
            align-items: flex-end;

            font-size: 18px;
            line-height: 1;

            color: $main-black;

            @include focus-color($purple);

            svg {
                margin-right: 15px;
            }

            &--user {
                @extend .header__user-login;
            }
    
            &--favourite {
                @extend .header__user-favourite;
            }
    
            &--cart {
                @extend .header__user-cart;
            }
        }
    }

    &__catalog {
        padding: 20px 0;
        border-bottom: 1px solid $purple;
        margin-bottom: 20px;

        &-item {
            position: relative;

            margin-bottom: 10px;
            cursor: pointer;

            span {
                display: block;
                font-size: 18px;
                line-height: 1;

                padding: 10px 0;
                padding-right: 40px;

                color: $main-black;

                @include focus-color($purple);

                &::after {
                    position: absolute;
                    top: 9px;
                    right: 0;
                    content: '';
    
                    width: 20px;
                    height: 20px;
    
                    background-image: url('../assets/img/arrow.svg');
                    transform: rotate(-90deg);
                    transition: transform $main-transition;
                }
            }

            .catalog-section-mobile-list {
                display: none;
                
                height: fit-content;
                max-height: 300px;
                overflow: hidden;
                overflow-y: auto;
                margin: 10px 0;
                padding: 0 20px;
                
                animation: fadeIn 0.3s ease-in forwards;

                li {
                    margin-bottom: 10px;
                    padding-left: 15px;

                    a {
                        font-size: 16px;
                        line-height: 1.2;    

                        color: $main-black;

                        @include focus-color($purple);
                    }
                }
            }

            &.active {
                span::after {
                    transform: rotate(0);
                }

                .catalog-section-mobile-list {
                    display: block;
                }
            }
        }
    }

    &__nav {
        padding-bottom: 30px;
        &-item {
            margin-bottom: 10px;
            a {
                font-size: 16px;
                line-height: 1.2;
                color: $main-black;

                @include focus-color($purple);
            }
        }
    }
}

.catalog-section-mobile-list {
    margin: 0;

    &--multi {
        padding: 0 !important;
    }

    li {
        padding-left: 0 !important;
        padding-right: 20px;

        span {
            position: sticky;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            padding-left: 20px;
            margin-bottom: 10px;

            background-color: $beige;

            &::after {
                display: none;
            }
        }

        li {
            padding-left: 20px !important;
        }
    }
}