section.info-section
  .info-section__wrapper
    h1.info-section__title Условия оплаты и возврата

    .info-section__text

      p 
        strong УСЛОВИЯ ОПЛАТЫ

      p Заказав товар на нашем сайте, вы имеете возможность сами определять не только способ доставки, но и способ оплаты своего заказа:

      ul
        li
          p - <strong>Предоплата.</strong> Безналичный перевод денежных средств на наш счет перед отправкой товара.
        li
          p - Вы можете оплатить покупку <strong>наличными и банковскими картами</strong> во время получения заказанной продукции на пункте самовывоза или после вручения ее вам курьером.
        li
          p - Оплата <strong>банковской картой</strong> в режиме онлайн.
        li
          p - Если у вас имеется счет в системе <strong>Яндекс.Деньги</strong>, оплатите свою покупку через него, и мы уже завтра отправим вам ваш заказ.
    
      p
        strong УСЛОВИЯ ОБМЕНА И ВОЗВРАТА ТОВАРА

      p Клиент имеет право обменять или вернуть купленный в интернет-магазине товар надлежащего качества в течение 7 суток без учета дня, когда была совершена покупка. <br/>Эти условия действуют в соответствии с Постановлением Правительства Российской Федерации от 27.09.2007 года №612 “Об утверждении правил продажи товаров дистанционным способом” в соответствии с Законом Российской Федерации “О защите прав потребителей”.
      p Возврат товара может быть произведен на следующий день после совершения акта покупки. В случае отправки товара курьерскими службами датой покупки является день получения заказа клиентом.
      p Чтобы осуществить возврат, клиент должен заполнить заявление с указанием причины и отправить его вместе с заказом.
      p Согласно статье 25 закона РФ “О защите прав потребителей” клиент имеет право совершить обмен продукта должного качества на аналогичный в том интернет-магазине, где он был приобретен, при условии, если товар не подходит по габаритам, модели или цвету.
      p Обмен исправной продукции может быть осуществлен в случае сохранения его потребительских функций, товарного вида заказа и упаковочных материалов, а также при наличии товарной накладной.
      p При возврате товара наш интернет-магазин обязуется выплатить полную его стоимость, которая была уплачена клиентом по договору, с вычетом трат на доставку в течение 10 дней со дня подачи заявки на возврат.
      p Клиент может вернуть товар по адресу: <strong>111111, г. Москва, какая-то улица, д. 122А</strong>
      p Для обмена или возврата продукции клиенту необходимо предъявить паспорт и товарную накладную. Данная процедура регулируется УМ РФ по Налогам и Сборам в городе Москве (письмо от 16.04.2003 г.№ 2912/20843).