section.info-section
  .info-section__wrapper
    h1.info-section__title Публичная оферта

    .info-section__text
      p Пользователем доменного имени https://www.nk_store.ru/ является ... (далее — Администрация Сайта). Администрация Сайта предоставляет Покупателю бесплатную возможность поиска информации о Товарах, ознакомления с товарными предложениями Продавцов, возможность получения (в т.ч. по результатам поиска) релевантных интересам Покупателя товарных предложений и информации, а также иные функциональные возможности, явно доступные Покупателю на Сайте.

      p Настоящее предложение в соответствии с п. 2 ст. 437 Гражданского Кодекса РФ является Публичной офертой (далее – Договор, Оферта, Публичная оферта), полным и безоговорочным принятием (акцептом) условий которой в соответствии со ст. 438 Гражданского кодекса РФ, считается осуществление Покупателем конклюдентных действий – регистрация и/или оформление Заказа на Товар на Сайте https://www.gulliver.ru/ в порядке и на условиях, установленных в настоящем Договоре.

      p Условия Договора устанавливаются Продавцом самостоятельно в соответствии с действующим законодательством Российской Федерации и могут быть приняты Покупателем не иначе как путем присоединения к предложенному Договору в целом.

      p На основании вышеизложенного ознакомьтесь с текстом настоящего Договора, и если Вы не согласны с каким-либо пунктом Договора, Вам предлагается отказаться от покупки Товаров или использования услуг, предоставляемых Продавцом / Администрацией Сайта.

      p
        strong 1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
      
      p
        <strong>1.1. Аккаунт Покупателя</strong> - запись, содержащая сведения, которые Покупатель сообщает о себе при входе или регистрации на Сайте https://www.nk_store.ru/ 
      
      p
        <strong>1.2. Заказ</strong> – должным образом оформленный запрос Покупателя на доставку по указанному адресу Товаров, выбранных Покупателем на Сайте. Заказ поступает в обработку с понедельника по воскресенье круглосуточно, (при условии наличия выбранных позиций в ассортименте и заполнении всех необходимых данных для оформления заказа, иначе с Покупателем связывается Клиентский сервис центр для подтверждения заказа. Режим работы Клиентского сервиса, указан на сайте в разделе «Контакты».

      p
        strong 2. ОБЩИЕ ПОЛОЖЕНИЯ

      p 2.1. Продавец обязуется продать, а Покупатель обязуется принять и оплатить Товар по ценам, указанным в описании Товара на соответствующей странице Сайта, на условиях настоящего Договора, действующая редакция которой размещена на Сайте.

      p 2.2. Заказывая Товары через Интернет-магазин, Покупатель соглашается с условиями продажи Товаров, изложенными в настоящем Договоре.