$border-radius: 10px;
.cart {
    @extend .section-margin-bottom;

    @media(max-width: $sm_w) {
        padding-top: 20px;
    }

    &__wrapper {
        @extend .wrapper;
        @extend .flex-wrap;
    }

    &__content {
        width: fit-content;
        max-width: calc(100% - 350px);
        margin-right: 20px;
        padding: 30px;

        background-color: rgba(255, 255, 255, 0.09);
        box-shadow: 2px 4px 10px rgba(165, 142, 24, 0.52);
        border-radius: $border-radius;

        @media(max-width: 960px) {
            padding: 20px 10px;
            margin-right: 10px;
            max-width: calc(100% - 340px);
        }

        @media(max-width: $md_w) {
            width: 100%;
            margin-bottom: 10px;
            max-width: 100%;
            margin-right: 0;
        }
    }

    &__clear-btn {
        font-size: 16px;
        line-height: 1.2;
        color: $red;
    }

    &__item {
        position: relative;
        padding-bottom: 10px;
        border-bottom: 1px solid $gold;
        margin-bottom: 10px;

        &-remove-btn{
            position: absolute;
            top: 0;
            right: 0;
            @extend .flex-item-center;
            border: 0;
            background-color: transparent;
            padding: 0;
            margin: 0;

            svg {
                transition: fill $main-transition;
            }

            &:hover,
            &:focus {
                svg {
                    fill: $purple;
                }
            }
        }

        h2 {
            font-family: $font_main;
            font-size: 22px;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 10px;
            text-shadow: 0 0 1px black;
            padding-right: 40px;

            @media(max-width: 960px) {
                font-size: 18px;
            }

            @media(max-width: $sm_w) {
                font-size: 16px;
                padding-right: 30px;
            }
        }

        &-container {
            @extend .flex-wrap;
            position: relative;

            img {
                display: block;
                width: 120px;
                height: 160px;
                object-fit: cover;
                margin-right: 15px;
                border: 1px solid $gold;

                @media(max-width: $sm_w) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 90px;
                    height: 120px;
                    margin-right: 10px;
                }
            }
        }

        &-content {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            max-width: calc(100% - 200px);

            @media(max-width: 960px) {
                max-width: calc(100% - 140px);
            }

            @media(max-width: $sm_w) {
                max-width: 100%;
            }
        }

        &-chars {
            margin-bottom: 10px;

            @media(max-width: $sm_w) {
                padding-left: 90px;
                min-height: 120px;
            }

            li {
                display: flex;
                align-items: flex-start;
                padding: 5px;

                & > span {
                    font-size: 14px;
                    line-height: 1.2;
                    color: $main-black;
                }

                & > a {
                    font-size: 14px;
                    line-height: 1.2;
                    color: $main-black;
                    text-decoration: underline;
                }

                span:first-child {
                    padding-right: 5px;
                    color: $black;
                    min-width: 65px;
                    @media(max-width: $sm_w) {
                        min-width: 55px;
                    }
                }

                @media(max-width: $sm_w) {
                    span,a {
                        font-size: 12px;
                    }
                }
            }
        }

        &-count {
            @extend .flex-wrap;
            align-items: center;
        }

        &-price {
            width: 135px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 0 auto;

            &-old {
                @extend .product-info__price-old;
                font-size: 14px;
            }

            &-current {
                @extend .product-info__price-current;
                font-size: 22px;
                line-height: 1;
                margin-right: 0;
            }
        }
    }

    // все хорошо
    &__offer-btn {
        @include main_btn($white, $purple);
        width: 100%;
        padding: 10px;
        font-size: 22px;
        line-height: 1;
        border-radius: 10px;

        @media(max-width: 600px) {
            font-size: 18px;
        }
    }

    &__aside {
        height: fit-content;
        position: sticky;
        top: 200px;
        padding: 20px;
        width: 330px;
        background-color: rgba(255, 255, 255, 0.09);

        box-shadow: 2px 4px 10px rgba(165, 142, 24, 0.52);
        border-radius: $border-radius;

        @media(max-width: 960px) {
            padding: 20px 10px;
        }

        @media(max-width: $md_w) {
            position: relative;
            top: initial;
            width: 100%;
            margin-bottom: 30px;
        }

        &-section {
            @extend .flex-wrap;
            padding: 10px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid $gold;

            @media(max-width: $md_w) {
                &:not(:first-child) {
                    width: 220px;
                }
            }

            @media(max-width: 600px) {
                width: 220px;
            }

            @media(max-width: 520px) {
                width: 100%;

                &:not(:first-child) {
                    width: 100%;
                }
            }

            span {
                font-size: 16px;
                line-height: 1.2;
                width: calc(100% - 80px);
                padding-right: 20px;
            }

            span:first-child {
                width: 80px;
            }

            span:last-child {
                color: $purple;
            }
        }

        &-form-container {
            @media(max-width: $md_w) {
                position: absolute;
                bottom: 30px;
                right: 20px;
                width: calc(100% - 260px);
            }

            @media(max-width: 520px) {
                position: static;
                bottom: initial;
                right: initial;
                width: auto;
            }
        }

        form {
            @extend .flex-wrap;
            padding-top: 30px;
            margin-bottom: 10px;

            @media(max-width: $md_w) {
                margin-bottom: 15px;
            }

            input {
                font-size: 16px;
                line-height: 1;
                border: 0;
                border-radius: 10px;
                margin: 0;
                margin-right: 10px;
                padding: 10px;
                background-color: #d4acc7;
                color: $black;
                width: calc(100% - 140px);
                height: 40px;

                &::placeholder {
                    font-size: 16px;
                    line-height: 1;
                    color: $main-black;
                }
            }

            button {
                @include main_btn(rgba(255, 255, 255, 0.86), rgba(88, 38, 126, 0.84));
                border: 0;
                padding: 10px;
                font-family: $font_main;
                font-weight: 400;
                font-size: 14px;
                border-radius: 10px;
                width: 130px;
                min-height: 40px;

                @media(max-width: $md_w) {
                    font-size: 14px;
                }
            }

            @media(max-width: 600px) {
                flex-direction: column;

                input,
                button {
                    width: 100%;
                }

                input {
                    text-align: center;
                    border-radius: 10px 10px 0 0;
                }

                button {
                    border: 3px solid #d4acc7;
                    border-radius: 0 0 10px 10px;
                }
            }
        }
    }
}