$border-radius: 16px;
.cart {
    @extend .section-margin-bottom;

    @media(max-width: $sm_w) {
        padding-top: 20px;
    }

    &__wrapper {
        @extend .wrapper;
        @extend .flex-wrap;
    }

    &__content {
        width: calc(100% - 350px);
        margin-right: auto;
        padding: 30px;

        background-color: rgba(255, 255, 255, 0.09);
        box-shadow: 2px 4px 10px rgba(165, 142, 24, 0.52);
        border-radius: $border-radius;

        @media(max-width: 960px) {
            padding: 20px;
        }

        @media(max-width: $md_w) {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    &__item {
        position: relative;
        padding-bottom: 30px;

        @media(max-width: 400px) {
            padding-top: 25px
        }

        &:not(:last-child) {
            border-bottom: 1px solid $gold;
        }

        &-remove-btn{
            position: absolute;
            top: -12px;
            right: -12px;
            @extend .flex-item-center;
            border: 0;
            background-color: transparent;
            padding: 0;
            margin: 0;

            svg {
                transition: fill $main-transition;
            }

            &:hover,
            &:focus {
                svg {
                    fill: $purple;
                }
            }
        }

        h2 {
            font-family: $f3_reg;
            font-size: 30px;
            font-weight: 400;
            line-height: 0.7;
            margin-bottom: 30px;
            text-shadow: 0 0 1px black;
            padding-right: 40px;

            @media(max-width: $lg_w) {
                font-size: 26px;
                margin-bottom: 20px;
            }

            @media(max-width: $sm_w) {
                font-size: 24px;
                margin-bottom: 20px;
            }

            @media(max-width: 400px) {
                font-size: 22px;
                padding-right: 0;
            }
        }

        &-container {
            @extend .flex-wrap;
        }

        &-subtitle {
            display: inline-block;
            font-family: $f3_reg;
            font-size: 24px;
            color: $black;
            
            text-shadow: 0 0 1px $red;
            border-bottom: 1px solid $gold;
            margin-bottom: 25px;
        }

        &-info-container {
            @extend .flex-wrap;
            align-items: center;
            width: 100%;
            margin-bottom: 30px;

            img {
                width: 180px;
                height: 240px;
                object-fit: cover;
                margin-right: 40px;
                border: 1px solid $gold;

                @media(max-width: 960px) {
                    margin-right: 10px;
                }

                @media(max-width: 400px) {
                    margin-bottom: 20px;
                }
            }
        }

        &-price {
            &-container {
                @extend .flex-wrap;
                align-items: center;
                flex-grow: 1;

                .counter {
                    margin: 0 auto;
                }

                @media(max-width: 960px) {
                    flex-direction: column;

                    .counter {
                        margin: 0;
                        margin-bottom: 20px;
                    }
                }

                @media(max-width: $md_w) {
                    flex-direction: row;

                    .counter {
                        margin: 0 auto;
                    }
                }

                @media(max-width: 600px) {
                    flex-direction: column;

                    .counter {
                        margin: 0;
                        margin-bottom: 20px;
                    }
                }

                @media(max-width: 400px) {
                    align-items: flex-start;
                }
            }
            
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: auto;

            @media(max-width: 960px) {
                margin: 0;
            }

            @media(max-width: $md_w) {
                margin: 0 auto;
            }

            @media(max-width: 600px) {
                margin: 0;
            }

            &-old {
                @extend .product-info__price-old;
                font-size: 14px;
            }

            &-current {
                @extend .product-info__price-current;
                font-size: 22px;
                line-height: 1;
                margin-right: 0;
            }

            @media(max-width: 400px) {
                flex-direction: row;

                &-old {
                    order: 2;
                }

                &-current {
                    order: 1;
                    margin-right: 20px;
                }
            }
        }

        &-desc {
            &-container {
                margin-bottom: 10px;

                display: flex;
                flex-direction: column;

                & > p {
                    font-size: 16px;
                    color: $main-black;

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    @media(max-width: 600px) {
                        font-size: 14px;
                    }
                }
            }
        }

        &-chars {
            &-container {
                ul {
                    margin-bottom: 10px;

                    li {
                        @extend .flex-wrap;
                        align-items: center;
                        padding: 5px 0;
                        padding-right: 20px;

                        & > span {
                            width: calc(100% - 100px);
                            
                            font-size: 16px;
                            line-height: 1;
                            font-family: $f4_reg;
                            color: $main-black;

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        span:first-child {
                            font-family: $f3_reg;
                            width: 100px;
                            font-size: 20px;
                            line-height: 1.2;
                            color: $black;
                            
                            text-shadow: 0 0 1px $red;
                        }
                    }
                }

                a {
                    font-size: 14px;
                    color: $main-black;
                    text-decoration: underline;
                }
            }
        }
    }

    // все хорошо
    &__offer-btn {
        @include main_btn($white, $purple);
        width: 100%;
        padding: 10px;
        font-size: 22px;
        line-height: 1;
        border-radius: 10px;

        @media(max-width: 600px) {
            font-size: 18px;
        }
    }

    &__aside {
        height: fit-content;
        position: sticky;
        top: 200px;
        padding: 20px;
        width: 330px;
        background-color: rgba(255, 255, 255, 0.09);

        box-shadow: 2px 4px 10px rgba(165, 142, 24, 0.52);
        border-radius: $border-radius;

        @media(max-width: 960px) {
            padding: 20px 10px;
        }

        @media(max-width: $md_w) {
            position: relative;
            top: initial;
            width: 100%;
            margin-bottom: 30px;
        }

        &-section {
            @extend .flex-wrap;
            padding: 10px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid $gold;

            @media(max-width: $md_w) {
                &:not(:first-child) {
                    width: 220px;
                }
            }

            @media(max-width: 600px) {
                width: 220px;
            }

            @media(max-width: 520px) {
                width: 100%;

                &:not(:first-child) {
                    width: 100%;
                }
            }

            span {
                font-family: $f3_reg;
                font-size: 22px;
                line-height: 1.2;
                width: calc(100% - 80px);
                padding-right: 20px;
            }

            span:first-child {
                width: 80px;
            }

            span:last-child {
                color: $purple;
            }
        }

        &-form-container {
            @media(max-width: $md_w) {
                position: absolute;
                bottom: 30px;
                right: 20px;
                width: calc(100% - 260px);
            }

            @media(max-width: 520px) {
                position: static;
                bottom: initial;
                right: initial;
                width: auto;
            }
        }

        form {
            @extend .flex-wrap;
            padding-top: 30px;
            margin-bottom: 10px;

            @media(max-width: $md_w) {
                margin-bottom: 15px;
            }

            input {
                font-size: 16px;
                line-height: 1;
                border: 0;
                border-radius: 10px;
                margin: 0;
                margin-right: 10px;
                padding: 10px;
                background-color: #d4acc7;
                color: $black;
                width: calc(100% - 140px);
                height: 40px;

                &::placeholder {
                    font-size: 16px;
                    line-height: 1;
                    color: $main-black;
                }
            }

            button {
                @include main_btn(rgba(255, 255, 255, 0.86), rgba(88, 38, 126, 0.84));
                border: 0;
                padding: 10px;
                font-family: $f1_reg;
                font-size: 14px;
                border-radius: 10px;
                width: 130px;
                min-height: 40px;

                @media(max-width: $md_w) {
                    font-size: 14px;
                }
            }

            @media(max-width: 600px) {
                flex-direction: column;

                input,
                button {
                    width: 100%;
                }

                input {
                    text-align: center;
                    border-radius: 10px 10px 0 0;
                }

                button {
                    border: 3px solid #d4acc7;
                    border-radius: 0 0 10px 10px;
                }
            }
        }
    }
}