
body {
    position: relative;
    
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
    opacity: 0;

    &.is-opened {
        display: flex;
        animation: fadeIn 0.4s linear forwards;
    }
}

.modal {
    position: relative;

    width: 90vw;
    max-width: 600px;
    height: fit-content;
    max-height: 600px;
    background-color: $white;
    opacity: 0;
    overflow: hidden;
    overflow-y: auto;

    &__close {
        @extend .flex-item-center;
        @extend .button-default;

        position: absolute;
        top: 15px;
        right: 15px;
    }

    &__content {
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
    }

    &.is-active {
        animation: fadeIn 0.4s 0.2s linear forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}