.review-modal {
    max-width: 400px;
    max-height: 600px;

    

    &__content {
        padding: 25px;

        font-size: 18px;
        color: $main-black;

        @media(max-width: $sm_w) {
            font-size: 16px;
            padding: 15px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding-top: 25px;

        img {
            width: 100px;
            height: 100px;
            margin-right: 20px;

            @media(max-width: $sm_w) {
                width: 80px;
                height: 80px;
                margin-right: 10px;
            }
        }

        span {
            font-size: 20px;
            color: $main-black;

            @media(max-width: $sm_w) {
                font-size: 18px;
            }
        }
    }
}