section.details
  .details__wrapper
    h1.details__title Реквизиты компании

    ul.details__list
      li.details__item
        span.details__item-title Полное наименование организации:
        span.details__item-value Общество с ограниченной ответственностью «Импрешн»
      
      li.details__item
        span.details__item-title ИНН/КПП:
        span.details__item-value 7721677539/773401001 ОГРН 1097746707662
      
      li.details__item
        span.details__item-title Юридический адрес:
        span.details__item-value 109147, г. Москва, ул. Марксистская, дом 10, стр.1, офис 306
      
      li.details__item
        span.details__item-title Почтовый адрес:
        span.details__item-value 109147, г. Москва, ул. Марксистская, дом 10, стр.1, офис 306
      
      li.details__item
        span.details__item-title Расч. счет:
        span.details__item-value 40702810638000075695 в банке ПАО СБЕРБАНК, г. Москва.
      
      li.details__item
        span.details__item-title К/с:
        span.details__item-value 30101810400000000225
      
      li.details__item
        span.details__item-title БИК:
        span.details__item-value 044525225 
      
      li.details__item
        span.details__item-title ОКПО: 
        span.details__item-value 63782765
      
      li.details__item
        span.details__item-title Контактный телефон: 
        a(href="tel:+78127777777").details__item-link.details__item-value +7(812)777-77-77
      
      li.details__item
        span.details__item-title Электронная почта: 
        a(href="mailto:test@yandex.com").details__item-link.details__item-value test@yandex.com
  