.catalog {
    @extend .section-margin-bottom;

    @media(max-width: $sm_w) {
        padding-top: 20px;
    }
    
    &__wrapper {
        @extend .wrapper;
        @extend .flex-wrap;
    }

    &__aside {
        width: 260px;
        margin-right: auto;

        @media(max-width: 960px) {
            display: none;

            &.js-opened {
                display: block;
                position: fixed;
                display: block;
                top: 0;
                left: 0;
                z-index: 10000;
                background-color: rgba(0,0,0,0.5);
                height: 100vh;
                width: 100vw;
                filter: drop-shadow(0 4px 10px rgba(0,0,0,.56));

                .filter {
                    width: 280px;
                    height: 100%;
                    overflow: hidden;
                    overflow-y: auto;
                    background-color: $main-bg;
                    
                    transform: translateX(-280px);
                    animation: showFilter 0.3s linear forwards;
                }

                .filter__fields {
                    padding: 10px;
                }

                .filter__fields-header {
                    position: sticky;
                    top: 0;
                    left: 0;
                    padding: 15px 0;
                    padding-top: 30px;
                    background-color: $main-bg;
                    z-index: 102;
                    border-bottom: 1px solid $gold;

                    .js-close-filter-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        right: 0;
                        top: 0;
                        border: 0;
                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                    }
                }

                @keyframes showFilter {
                    0% {
                        transform: translateX(-280px);
                    }

                    100% {
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    &__sort  {
        @extend .flex-wrap;
        align-items: flex-end;
        margin-bottom: 20px;

        @media(max-width: $sm_w) {
            flex-direction: column;
            align-items: flex-start;
            .custom-select-container {
                margin-bottom: 20px;
            }
        }

        a {
            display: none;
            margin-left: 50px;
            text-decoration: underline;
            font-size: 16px;
            line-height: 1.2;
            color: $purple;

            @media(max-width: 960px) {
                display: inline-block;
            }

            @media(max-width: $sm_w) {
                margin-left: 0;
            }
        }
    }

    &__content {
        width: calc(100% - 280px);

        @media(max-width: 960px) {
            width: 100%;
        }
    }

    &__list {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, 260px);
        margin-bottom: 40px;
    }

    &__item {
        margin: 0 auto;
    }
}