include ../../mixins/main_btn

section.product-info
  .product-info__wrapper
    .product-info__side
      .product-info__slider-container
        .swiper.thumbs-swiper
          .swiper-wrapper
            each item in [1, 2, 3, 4, 5, 6, 7, 8, 9]
              .swiper-slide
                img(src="./assets/img/product-info1.png" alt="Фото товара" width="120" height="100")
              .swiper-slide
                img(src="./assets/img/cat3.png" alt="Фото товара" width="120" height="100")
        
        .swiper.thumbs-swiper-main
          .swiper-wrapper
            each item in [1, 2, 3, 4, 5, 6, 7, 8, 9]
              .swiper-slide
                //.zoomist(data-zoomist-src="./assets/img/product-info2.png")
                
                img( src="./assets/img/product-info2.png" alt="Фото товара" width="600" height="800")
              .swiper-slide
                //.zoomist(data-zoomist-src="./assets/img/cat3.png")
                img( src="./assets/img/cat3.png" alt="Фото товара" width="600" height="800")

          .swiper-button-next.thumbs-swiper-button-next.thumbs-swiper-button
          .swiper-button-prev.thumbs-swiper-button-prev.thumbs-swiper-button

          button(type="button" data-modal-anchor="zoomist-modal").js-zoom-btn
            svg(width="24" height="24")
              use(xlink:href="#icon-search")


    .product-info__content
      h1 Платье для девочки Noble People (Россия)

      include ../../components/rating
      
      .product-info__price-container
        span.product-info__price-current 999 999 руб.
        span.product-info__price-old 999 999 руб.
    
      .product-info__status-container
        // span.product-info__status-available-to-order Под заказ
        // span.product-info__status-available-not Нет в наличии
        span.product-info__status-available В наличии
        span.product-info__status-rest Осталось 3шт.
      
      .product-info__options-container
        include ../../components/product-options-picker

      .product-info__btn-container
        +main_btn('link', 'В корзину', '#', 'product-info__cart-add-btn js-cart-add-btn', 'icon-cart', 24, 24)
        +main_btn('link', 'Купить в один клик', '#', 'product-info__cart-buy-btn')
      

      .product-info__description-container
        h2 Описание товар

        p Платье с пышной фатиновой юбкой-пачкой только на первый взгляд кажется исключительно тематическим. На самом деле его можно гармонично вписать в любой уличный образ, если дополнить пиджаком оверсайз или джинсовой курткой.
        p Платье с пышной фатиновой юбкой-пачкой только на первый взгляд кажется исключительно тематическим. На самом деле его можно гармонично вписать в любой уличный образ, если дополнить пиджаком оверсайз или джинсовой курткой.
    
      .product-info__chars-container
        h2 Характеристики

        ul
          li
            span Бренд:
            span Noble People
          li
            span Коллекция:
            span ВЕСНА/ЛЕТО 2021-2022
          li
            span Название коллекции:
            span Праздничный наряд
          li
            span Возраст:
            span 12-15 лет
          li
            span Пол:
            span Женский
          li
            span Состав:
            span 65% хлопок, 35% полиэстер



      



      