.modal-overlay.product-reviews-modal-overlay
  .modal(id="product-reviews-modal").product-reviews-modal
    button(type="button").modal__close.product-reviews-modal__close
      svg(width="24" height="24")
        use(xlink:href="#icon-close")
    .modal__content.product-reviews-modal__content
      .product-reviews-modal__header
        img(src="./assets/img/avatar.png" alt="Аватар" width="100" height="100")
        span Константинов К.
            
      .product-reviews-modal__body
        p body
