.modal-overlay.product-reviews-modal-overlay
  .modal(id="product-reviews-modal").product-reviews-modal
    button(type="button").modal__close.product-reviews-modal__close
      svg(width="24" height="24")
        use(xlink:href="#icon-close")
    .modal__content.product-reviews-modal__content
      include ../components/user-review
      include ../components/user-review
      include ../components/user-review
      include ../components/user-review
      include ../components/user-review
      include ../components/user-review
      include ../components/user-review
      include ../components/user-review
      include ../components/user-review
      include ../components/user-review

      button(type="button").product-reviews-modal__more Показать еще