.modal-overlay.review-modal-overlay
  .modal(id="review").review-modal
    button(type="button").modal__close.review-modal__close
      svg(width="24" height="24")
        use(xlink:href="#icon-close")
    .modal__content
      include ../components/user-review
