-
  shoesSizes = [
    [9.5,16,1,0,16,9.5],
    [10,16.5,1.2,'0-1',16.5,10],
    [ 10.5,17,2,1,17,10.5 ],
    [ 11,18,2.5,1.5,18,11 ],
    [ 11.5,19,3,2.5,19,11.5 ],
    [ 12,19.5,4,3,19.5,12 ],
    [ 12.5,20,5,4,20,12.5 ],
    [ 13,21,5.5,4.5,21,13 ],
    [ 13.5,22,6,5,22,13.5 ],
    [ 14,22.5,6.5,5.5,22.5,14 ],
    [ 14.5,23,7,'6-6.5',23,14.5 ],
    [ 15,24,8,7,24,15 ],
    [ 15.5,25,8.5,7.5,25,15.5 ],
    [ 16,25.5,9,8,25.5,16 ],
    [ 16.5,26,9.5,8.5,26,16.5 ],
    [ 17,27,'10-10.5','9-9.5',27,17 ],
    [ 17.5,28,11,10,28,17.5 ],
    [ 18,28.5,11.5,10.5,28.5,18 ],
    [ 18.5,29,12,11,28,18.5 ],
    [ 19,30,12.5,11.5,30,19 ],
    [ 19.5,31,13,12,31,19.5 ],
    [ 20,31.5,13.5,12.5,31.5,20 ],
    [ 20.5,32,1,13,32,20.5 ],
    [ 21,33,'1.5-2',1,33,21 ],
    [ 21.5,34,2.5,1.5,34,21.5 ],
    [ 22,34.5,3,2,34.5,22 ],
    [ 22.5,35,3.5,2.5,35,22.5 ],
    [ 23,36,'4-4.5','3-3.5',36,23 ],
    [ 23.5,37,5,4,37,23.5 ]
  ]

.modal-overlay.size-modal-overlay
  .modal(id="size-modal").size-modal
    button(type="button").modal__close.size-modal__close
      svg(width="24" height="24")
        use(xlink:href="#icon-close")
    
    .modal__header.size-modal__header
      h2 Таблица размеров
    
    .modal__content.size-modal__content
      h3 Размеры детской одежды

      table(cellspacing="0")
        tr
          td
            | Рост, см
          td
            | Размер
          td
            | Возраст
        tr
          td
            | 56
          td
            | 36
          td
            | 0-1 мес.
        tr
          td
            | 62
          td
            | 40
          td 
            | 0-3 мес.
        tr
          td
            | 68
          td
            | 44
          td
            | 3-6 мес.
        tr
          td
            | 74
          td
            | 44
          td
            | 6-9 мес.
        tr
          td
            | 80
          td
            | 48
          td
            | 9-12 мес.
        tr
          td
            | 86
          td
            | 52
          td
            | 12-18 мес.
        tr
          td
            | 92
          td
            | 52
          td
            | 1.5-2 года
        tr
          td
            | 98
          td
            | 56
          td
            | 2-3 года
        tr
          td
            | 104
          td
            | 56
          td
            | 3-4 года
        tr
          td
            | 110
          td
            | 60
          td
            | 4-5 года
        tr
          td
            | 116
          td
            | 60
          td
            | 5-6 лет
        tr
          td
            | 122
          td
            | 64
          td
            | 6-7 лет
        tr
          td
            | 128
          td
            | 64
          td
            | 7-8 лет

        tr
          td
            | 134
          td
            | 68
          td
            | 8-9 лет
        tr
          td
            | 140
          td
            | 72
          td
            | 9-10 лет
        tr
          td
            | 146
          td
            | 76
          td
            | 10-11 лет
        tr
          td
            | 152
          td
            | 80
          td
            | 12-13 лет
        tr
          td
            | 158
          td
            | 84
          td
            | 14-15 лет
        tr
          td
            | 164
          td
            | 88
          td
            | 16-17 лет
        

      h3 Размеры детской обуви

      table(cellspacing="0")
        tr
          td
            | Размер стопы, см
          td
            | RU
          td
            | US
          td
            | UK
          td
            | EU
          td
            | CN

        each sizes in shoesSizes
          tr
            each item in sizes
              td= item

        