.modal-overlay.size-modal-overlay
  .modal(id="size-modal").size-modal
    button(type="button").modal__close.size-modal__close
      svg(width="24" height="24")
        use(xlink:href="#icon-close")
    
    .modal__header.size-modal__header
      h2 Таблица размеров
    
    .modal__content.size-modal__content
      h3 ОСНОВНЫЕ РАЗМЕРНЫЕ ПРИЗНАКИ ТИПОВЫХ ФИГУР

      table(cellspacing="0")
        tr
          td
            | Интервал роста, см
          td
            | Рост типовой фигуры, см
        tr
          td
            | 149 - 154
          td
            | 152
        tr
          td
            | 155 - 160
          td
            | 158

      h3 РАЗМЕРЫ МУЖСКОЙ ОДЕЖДЫ

      table(cellspacing="0")
        tr
          td
            | Размер типовой фигуры
          td
            | Интервал обхвата груди мужчин, см
          td
            | Интервал обхвата бедер мужчин, см

        tr 
          td 
            | 42
          td 
            | 82 - 85
          td 
            | 87 - 90

        tr 
          td 
            | 44
          td 
            | 86 - 89
          td 
            | 91- 92

        tr 
          td 
            | 46
          td 
            | 90 - 93
          td 
            | 93 - 94