.zoomist-modal-overlay
  .zoomist-modal(id="zoomist-modal")
    button(type="button").zoomist-modal__close
      svg(width="24" height="24")
        use(xlink:href="#icon-close")
    
    .zoomist-modal__content
      .zoomist(data-zoomist-src="")