mixin catalog-section(obj)

  .catalog-section
    .catalog-section__wrapper

      if obj.type !== 'multi'
        ul.catalog-section__list
          each item in obj.catalog  
            li.catalog-section__item
              a(href= item.url)= item.name
      else 
        ul.catalog-section__list.catalog-section__list--multi
          each item in obj.catalog  
            li.catalog-section__item
              span= item.title
              ul.catalog-section__list.catalog-section__list--inner
                each inner in item.catalog
                  li.catalog-section__item.catalog-section__item--inner
                    a(href= inner.url)= inner.name

      .catalog-section__side
        button(type="button").catalog-section__close.js-close
          svg(width="40" height="40")
            use(xlink:href="#icon-close")

        a(href="catalog.html") Смотреть все категории

        img(src=obj.banner.url alt="Баннер" width="350" height="580")

        