section.user-profile
  .user-profile__wrapper
    .user-profile__content
      img(src="./assets/img/cat4.png" alt="Фото пользователя" width="65" height="65")

      .user-profile__info
        span.name Константин Константинов
        span.main testmail123456@yandex.ru
        span.phone +7 (123)456-78-90
      
        .user-profile__action
          a(href="user.html") Редактировать 
          a(href="index.html") Выйти