.profile {
    .offer-history {
        @extend .section-margin-bottom;

        &__wrapper {
            @extend .wrapper;
        }

        &__tabs-slider {
            margin-bottom: 30px;
        }

        &__tab {
            border: 1px solid $blue;
            padding: 5px 10px;
            color: $main-black;
            transition: border $main-transition;

            &.active {
                border-color: $purple;
            }
        }

        &__field {
            width: 100%;
            max-width: 800px;
        }

        &__accordeon {
            .accordeon-field {
                border-bottom: 1px solid $gray;
            }

            .accordeon-head {
                span {
                    font-size: 14px;
                    line-height: 1.2;
                    padding: 10px;
                    width: 120px;
                    color: $main-black;
                    @extend .text-nowrap;
            
                    &.status {
                        width: 140px;
                        text-align: left;
                        &-inwork {
                            color: #00a1ff;
                        }
            
                        &-done {
                            color: #15cf74;
                        }
            
                        &-submit {
                            color: #ffa500;
                        }
            
                        &-cancelled {
                            color: #f44653;
                        }
                    }

                    &.price {
                        margin-right: 30px;
                    }
                }
            }

            .accordeon-body {
                .accordeon-body-field {
                    display: flex;
                    align-items: center;
                    padding: 10px;
    
                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: contain;
                        margin-right: 30px;
                    }
    
                    a {
                        font-size: 12px;
                        line-height: 1.2;
                        font-weight: 400;
                        color: $main-black;
                        width: 240px;
                        padding: 0 10px;
                        padding-right: 15px;
    
                        @include focus-color($purple);
                    }
    
                    span {
                        width: 120px;
                        font-size: 14px;
                        padding: 10px;
                        color: $main-black;
                        @extend .text-nowrap;

                        &:last-child {
                            margin-right: 20px;
                        }
                    }
                }
                
            }
        }
    }
}