section.about
  .cmn__wrapper
    h2.cmn__block-title О нас

    .about__container
      img(src="./assets/img/about-img.png" alt="О нас" width="783" height="747")

      .about__content
        h3.about__title Самая модная детская одежда

        ul.about__list
          li.about__item Самый большой ассортимент — более 15 000 товаров
          li.about__item Самая быстрая и бесплатная доставка
          li.about__item Самые честные гарантии возврата
          li.about__item Самая удобная оплата, отправим без предоплат
          li.about__item Самая лучшая команда работает в нашем любимом интернет-магазине!

        a(href="#").cmn__button.about__button Подробнее 

