include ../../mixins/main_btn

section.about
  .about__wrapper
    .bg-decoration.bg-decoration-top(aria-hidden="true")
    .bg-decoration.bg-decoration-middle(aria-hidden="true")
    .bg-decoration.bg-decoration-bottom(aria-hidden="true")

    h2.section-colored-title О нас

    .about__container
      img(src="./assets/img/about_content-img.png" alt="О нас" width="600" height="400")

      .about__content
        h3.about__title Самая модная детская одежда

        ul.about__list
          li.about__item Самый большой ассортимент — более 15 000 товаров
          li.about__item Самая быстрая и бесплатная доставка
          li.about__item Самые честные гарантии возврата
          li.about__item Самая удобная оплата, отправим без предоплат
          li.about__item Самая лучшая команда работает в нашем любимом интернет-магазине!

        +main_btn('link', 'Подробнее', 'about.html', 'about__more-btn')

