section.cats
  .cmn__wrapper
    h2.visually-hidden Категории товаров
    ul.cats__container
      li(style="background-image: url('./assets/img/cat1.png')").cats__item
        a(href="#")
          span.cmn__button Распродажа
      li(style="background-image: url('./assets/img/cat2.png')").cats__item
        a(href="#")  
          span.cmn__button Девочки
      li(style="background-image: url('./assets/img/cat3.png')").cats__item
        a(href="#")
          span.cmn__button Мальчики
      li(style="background-image: url('./assets/img/cat5.png')").cats__item
        a(href="#")
          span.cmn__button  Игрушки
      li(style="background-image: url('./assets/img/cat4.png')").cats__item
        a(href="#")
          span.cmn__button  Малыши 

        

      
    