-
  const items = [1,2,3,4,5,6,7,8,9]

section.popular
  .popular__wrapper
    h2.section-colored-title Популяные товары
    .swiper.main-swiper
      .swiper-wrapper
        each item in items
          .swiper-slide
            include ../../components/product-card

      .swiper-pagination.main-swiper-pagination