-
  const items = [1,2,3,4,5,6,7,8,9]

section.popular
  .cmn__wrapper
    h2.cmn__block-title Популяные товары
    .swiper.popular-swiper
      .swiper-wrapper
        each item in items
          .swiper-slide
            include ../../components/cards/item-card

      .swiper-pagination