include ../../mixins/main_btn

section.register
  img(src="./assets/img/reg-img.png" alt="" width="1920" height="1050")
  .register__wrapper
    .register__content
      h2.section-colored-title Получите скидку 10%

      +main_btn('link', 'Регистрация', 'registration.html')