section.register
  img(src="./assets/img/reg-img.png" alt="" width="1920" height="1050")
  .cmn__wrapper
    .register__content
      h2.cmn__block-title Получите скидку 10%

      a(href="#").cmn__button Регистрация 