nav.catalog-nav
  .cmn__wrapper.catalog-nav__wrapper
    ul.catalog-nav__list
      li.catalog-nav__item
        a(href="catalog.html")
          span Новинки

        .catalog-section
          ul.catalog-section__list
            li.catalog-section__item
              p Брюки
          
          .catalog-section__banner
            img(src="" alt="Баннер" width="" height="")
          
          
      
      li.catalog-nav__item
        a(href="catalog.html")
          span Товары для малышей

      li.catalog-nav__item
        a(href="catalog.html")
          span Мальчики

      li.catalog-nav__item
        a(href="catalog.html")
          span Девочки

      li.catalog-nav__item
        a(href="catalog.html")
          span Обувь

      li.catalog-nav__item
        a(href="catalog.html")
          span Игрушки