.counter
  .counter__body
    button(type="button").js-counter-dec
      svg(width="24" height="24")
          use(xlink:href="#icon-minus")
           
    span.js-counter 3

    button(type="button").js-counter-inc
      svg(width="24" height="24")
          use(xlink:href="#icon-plus")