.developer
  a(href="https://www.littleweb.ru" rel="noopener noreferrer nofollow" aria-label="Сайт разработан - LittleWeb.ru")
    img(src="./assets/img/delevoper-icon.svg" width="180" height="60" alt="LittleWeb.ru")