.pagination
  a(href="#").pagination__btn 1
  span.pagination__ellypsis.pagination__ellypsis--start ...
  a(href="#").pagination__btn 2
  a(href="#").pagination__btn.active 3
  a(href="#").pagination__btn 4
  a(href="#").pagination__btn 5
  span.pagination__ellypsis.pagination__ellypsis--end ...
  a(href="#").pagination__btn 256