include ../mixins/badge
include ../mixins/favourite_btn
include ../mixins/main_btn

.product-card
  .product-card__header.flip-card
    .flip-card__wrapper
      .flip-card__front
        img(src="./assets/img/cat3.png" alt="Товар" width="220" height="280").zoomable

        .product-card__badges
          +badge('product-card__badge product-card__badge--new', 'Новинка !')
          +badge('product-card__badge product-card__badge--sale','Sale')

        +favourite_btn('product-card__favourite-add-btn')
      
      .flip-card__back
        ul
          li
            span.product-card__detail-title Наим-е товара:
            span.product-card__detail-desc Комбинезон желтый утеплённый
          
          li
            span.product-card__detail-title Артикул:
            span.product-card__detail-desc 001№012-469К

          li
            span.product-card__detail-title Страна пр-ль:
            span.product-card__detail-desc Россия

          li
            span.product-card__detail-title Пол: 
            span.product-card__detail-desc Девочка

          li
            span.product-card__detail-title Состав:
            span.product-card__detail-desc Хлопок-92%, Эластан-8%, Эластан-8%

          li
            span.product-card__detail-title Сезон:
            span.product-card__detail-desc Весна, Осень, Зима
          
          li
            span.product-card__detail-title Страна пр-ль:
            span.product-card__detail-desc Россия

          li
            span.product-card__detail-title Пол: 
            span.product-card__detail-desc Девочка

          li
            span.product-card__detail-title Состав:
            span.product-card__detail-desc Хлопок-92%, Эластан-8%, Эластан-8%

          li
            span.product-card__detail-title Сезон:
            span.product-card__detail-desc Весна, Осень, Зима

  .product-card__content
    .tooltip
      h2.product-card__title Комбинезон жёлтый утеплённый осенний суперпуховый
      span.tooltip__text Комбинезон жёлтый утеплённый осенний суперпуховый
    
    .product-card__description
      .product-card__description-chars
        a(href="#").js-show-detail Хар-ки товара
        a(href="product.html") Подробно

      .product-card__description-price
        span 999 999 руб.
    
  .product-card__footer
    +main_btn('link', 'В корзину', '#', 'product-card__cart-add-btn js-cart-add-btn', 'icon-cart', 24, 24)
    +main_btn('link', 'Купить в 1 клик', '#', 'product-card__buy-btn')
