.product-options-picker
  .product-options-picker__container
    .product-options-picker__field
        span Размер:

        select(id="product-size").custom-select
            option(value="80" selected) 80
            option(value="84") 84
            option(value="88") 88
            option(value="92") 92
            option(value="84") 96
            option(value="88") 100
            option(value="92") 104

    .product-options-picker__field
        span Цвет:

        select(id="product-color").custom-select
            option(value="white" selected) Белый
            option(value="black") Черный
            option(value="blue") Синий
            option(value="red") Красный
            option(value="green") Зеленый
   
  .product-options-picker__size-table
    a(href="#") Таблица размеров 
  

  