include ../mixins/rating-star

.rating
  .rating__stars
    //+rating-star(true)
      +rating-star(true)
      +rating-star(true)
      +rating-star(true)
      +rating-star(false)
    .rating__underlay
    img(src="./assets/img/rate-stars.svg" alt="Рейтинг" width="150" height="40")
  
  a(href="#" data-modal-anchor="product-reviews-modal").rating__count  189 754 отзывов
