include ../mixins/rating-star

.rating
  .rating__stars
    +rating-star(true)
    +rating-star(true)
    +rating-star(true)
    +rating-star(true)
    +rating-star(false)
  .rating__count
    span 189 754 отзывов