.review-card
  .review-card__content
    | Хорошие вещи за хорошие деньги! Доставляют в тот день и время, когда удобно покупателю! <br/><br/>
    | Все четко: позвонил оператор, обсудили заказ. Позвонил курьер — договорились о доставке. <br/><br/>
    | В целом магазин нравится — широкий ассортимент для мальчиков и девочек!

  a(href="#" data-modal-anchor="review").review-card__more Читать весь отзыв
  .review-card__footer
    img(src="./assets/img/avatar.png", alt="")
    span Мария Иванова