.modal-overlay.review-modal-overlay
  .modal(id="review").review-modal
    button(type="button").modal__close.review-modal__close
      svg(width="24" height="24")
        use(xlink:href="#icon-close")
    .modal__content.review-modal__content
      .review-modal__header
        img(src="./assets/img/avatar.png" alt="Аватар" width="60" height="60")
        span Мария Иванова
            
      .review-modal__body
        p body
        
      .review-modal__footer
        p footer