ul.social-list
  li.social-item
    a(href="#" aria-label="whatspapp")
      svg(width="20" height="20")
        use(xlink:href="#icon-whatsapp")
  li.social-item
    a(href="#" aria-label="telegram")
      svg(width="22" height="18")
        use(xlink:href="#icon-tg")
  li.social-item
    a(href="#" aria-label="instagram")
      svg(width="20" height="20")
        use(xlink:href="#icon-insta")
  li.social-item
    a(href="#" aria-label="facebook")
      svg(width="12" height="23")
        use(xlink:href="#icon-fb")