include ../mixins/rating-star

.user-rate
  .user-rate__stars
    +rating-star(true)
    +rating-star(true)
    +rating-star(true)
    +rating-star(true)
    +rating-star(false)
  .user-rate__date
    span 26.05.2019